@font-face {
<<<<<<< HEAD
    font-family: ;
    src: url();
=======
    font-family: "Doto";
    src: url("Doto-VariableFont_ROND\,wght.ttf");
>>>>>>> a9f95a0b3d1a96db4422f2b77d9c6e1ef6304c79
}

body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
    margin: 0; 
    padding: 20px
}

header {
<<<<<<< HEAD
=======
    font-family: 'Courier New', Courier, monospace;
    background-image: radial-gradient( rgb(198, 236, 93), rgb(190, 190, 68),rgb(100, 100, 153));
>>>>>>> a9f95a0b3d1a96db4422f2b77d9c6e1ef6304c79
    color: white; 
    padding: 10px 0; 
    text-align: center;
}

article {
<<<<<<< HEAD
=======
    font-family: "Doto";
>>>>>>> a9f95a0b3d1a96db4422f2b77d9c6e1ef6304c79
    background: white;
    border: 1px solid #ccc; 
    margin: 20px 0; 
    padding: 15px;
<<<<<<< HEAD

}


article {
    background: white;
    border: 1px solid #ccc; 
    margin: 20px 0; 
    padding: 15px;

}

article {
    background: white;
    border: 1px solid #ccc; 
    margin: 20px 0;
    padding: 15px;

=======
    font-style: italic;
>>>>>>> a9f95a0b3d1a96db4422f2b77d9c6e1ef6304c79
}

h2 {
    color: #333;
}

ul {
    list-style-type: disc; 
    margin: 10px 0; 
    padding-left: 20px
}

ol {
    margin: 10px 0; 
    padding-left: 20px
}